#body, #navtop, #footer, #notification {
    background-color: #005288;
    font-family: 'Montserrat', sans-serif;
}

#navbtn, #navbtnSpacex, #submitNasaBtn, #submitSpacexBtn {
    background-color: rgba(167, 169, 172, 0.6);
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

#navbtn {
  margin-top: -113px;
}

#navbtn:hover {
  background-color: rgba(118, 120, 122, 0.6);
}

#navbarImage { 
  background: url(IndexAssets/navbar3.jpg); 
  padding-top: 0px;
  padding-bottom: 0px;
  height:200px;
}

#navbtnSpacex {
  margin-top: -75px;
  position: relative;
}

/* Carousel CSS */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 694px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color:rgba(113, 113, 113, 1)
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* Title of Articles */
#title {
    margin: 25px;
    color: #a7a9ac;
    font-family: 'Montserrat', sans-serif;
}

#subtitle {
    margin: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#timelineText, #timelineEvents, #timelineTitle, #nasaInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;    
}

#timeline {
    margin-top: 100px;
}

#timelineEvents {
    margin-top: 50px;
}

#timelineTitle {
    color: #a7a9ac;  
}

#nasaInfo, #spacexInfo {
    margin-left: 215px;
}

#titleNASA, #titleSpaceX, #titleData {
    color: #a7a9ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 2em;
}

#subtitleNASA, #subtitleSpaceX, #subtitleData {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#nasaImage, #spacexImage {
    width: 350px;
    height: 550px;
}

#nasaLinks, #spacexLinks {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

#notification {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#table {
    width: 100%;
    margin-top: 20px;
}

#tableHeader {
    width: 250px;
   }

  td, #article {
      color: navy;
  }

#flightNumber, #nasaProject {
width: "150px";
}

#footer {
  position: fixed;
    text-align: center;
   }

  #navbarBottom {
    margin-top: 25px;
   background-color: #a7a9ac;
   }
   
  #navbarBottomText {
    background-color: #a7a9ac;
    margin-left: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }

  #space {
    overflow: inherit;
  }

.rocketPicture {
  width: 50%;
}

/* Style of @media */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightgray;
  }
}

